@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'), url('../fonts/ubuntu.woff2') format('woff2'), url('../fonts/ubuntu.woff') format('woff'), url('../fonts/ubuntu.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuBold';
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('../fonts/ubuntubold.woff2') format('woff2'), url('../fonts/ubuntubold.woff') format('woff'), url('../fonts/ubuntubold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@keyframes Arrow {
  from {
    background-position: 100px 0, 80px 0, 900px 0, 880px 0;
  }
  to {
    background-position: 100px 110px, 80px 100px, 900px 100px, 880px 100px;
  }
}
@media screen and (max-width: 1200px) {
  header.page-head.index-page,
  header.page-head {
    margin-left: 0;
    position: relative;
  }
  header.page-head.index-page .info-row,
  header.page-head .info-row {
    z-index: 5;
  }
  header.page-head.index-page nav.main-menu,
  header.page-head nav.main-menu {
    width: 100%;
    position: relative;
    top: -2px;
    left: 0;
  }
}
@media screen and (max-width: 1100px) {
  header.page-head .info-row .connect-item .connect,
  header.page-head.index-page .info-row .connect-item .connect {
    background: none;
    width: 210px;
  }
}
@media screen and (max-width: 1000px) {
  header.page-head,
  header.page-head.index-page {
    margin-left: 0;
    width: 100%;
    padding-left: 0;
  }
  header.page-head .info-row,
  header.page-head.index-page .info-row {
    padding: 30px 20px 60px;
  }
  header.page-head .info-row .connect-item .connect,
  header.page-head.index-page .info-row .connect-item .connect {
    background: none;
    width: 210px;
  }
}
@media screen and (max-width: 900px) {
  header.page-head.index-page .info-row,
  header.page-head .info-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 60px;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  header.page-head.index-page .info-row div.logo,
  header.page-head .info-row div.logo {
    width: 100%;
    text-align: center;
  }
  header.page-head.index-page .info-row div.logo img:last-child,
  header.page-head .info-row div.logo img:last-child {
    display: inline-block;
  }
  header.page-head.index-page .info-row div.logo img:first-child,
  header.page-head .info-row div.logo img:first-child {
    display: none;
  }
}
@media screen and (max-width: 900px) and (min-width: 720px) {
  header.page-head.index-page .info-row,
  header.page-head .info-row {
    padding: 40px 20px 30px;
  }
  header.page-head.index-page .info-row .logo,
  header.page-head .info-row .logo {
    padding: 0 55px 0 10px;
  }
  header.page-head.index-page .info-row .inf-block,
  header.page-head .info-row .inf-block {
    -ms-flex-pack: center;
        justify-content: center;
    padding-top: 10px;
    width: 100%;
  }
  header.page-head.index-page .info-row .inf-block .phone,
  header.page-head .info-row .inf-block .phone {
    margin-right: 0;
  }
  header.page-head.index-page .info-row .inf-block .consult,
  header.page-head .info-row .inf-block .consult {
    padding-top: 29px;
    padding: 29px 30px 0;
  }
  header.page-head.index-page .info-row .inf-block .consult .icon,
  header.page-head .info-row .inf-block .consult .icon {
    display: none;
  }
  header.page-head.index-page .info-row .inf-block .connect .link,
  header.page-head .info-row .inf-block .connect .link {
    background: linear-gradient(to left, #c3e4ca, #c3e4ca 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border', endColorstr='@border', GradientType=0);
    background-position: 0 100%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    color: #39a651;
    margin-top: 38px;
    margin-left: 0px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    top: -13px;
    font-family: Ubuntu;
  }
  header.page-head.index-page .info-row .inf-block .connect .link:hover,
  header.page-head .info-row .inf-block .connect .link:hover {
    cursor: pointer;
    background: linear-gradient(to left, #006939, #006939 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
    background-position: 0 100%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    color: #006939;
  }
  header.page-head.index-page .info-row .inf-block .connect .link:focus,
  header.page-head .info-row .inf-block .connect .link:focus {
    background: linear-gradient(to left, #006939, #006939 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
    background-position: 0 100%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    color: #006939;
  }
}
@media screen and (max-width: 720px) {
  header.page-head.index-page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    padding-bottom: 0;
    background: #ffffff;
  }
  header.page-head.index-page .info-row {
    padding-bottom: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    box-shadow: none;
  }
  header.page-head.index-page .info-row div.logo {
    width: auto;
    display: inline-block;
  }
  header.page-head.index-page .info-row .inf-block {
    display: none;
  }
  header.page-head.index-page .info-row .connect-item {
    display: none;
  }
  header.page-head.index-page nav.main-menu {
    width: auto !important;
    padding-top: 45px;
    -ms-flex-pack: start;
        justify-content: flex-start;
    padding-bottom: 0;
    box-shadow: none;
    position: static;
  }
  header.page-head.index-page nav.main-menu ul.menu {
    display: none;
  }
  header.page-head.index-page nav.main-menu .mobile-menu {
    display: block;
  }
  header.page-head.index-page nav.main-menu .mobile-menu .menu-button {
    font-family: Ubuntu;
    font-size: 24px;
    color: #39a651;
    display: inline-block;
    padding: 5px 10px;
  }
  header.page-head.index-page nav.main-menu .mobile-menu .menu-button.clicked {
    color: #ffffff;
    background: #39a651;
  }
  header.page-head.index-page nav.main-menu .mobile-menu ul.popup-menu {
    left: 0;
    position: absolute;
    width: 100%;
    max-width: 100%;
    padding: 40px 0;
    background: #39a651;
    display: none;
    z-index: 10;
  }
  header.page-head.index-page nav.main-menu .mobile-menu ul.popup-menu li.popup-menu-item {
    width: 100%;
  }
  header.page-head.index-page nav.main-menu .mobile-menu ul.popup-menu li.popup-menu-item a.menu-link {
    padding: 10px 0;
    margin: 0 40px;
    color: #ffffff;
    display: block;
    font-family: Ubuntu;
    border-bottom: 1px solid #389738;
  }
  header.page-head {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    background: #ffffff;
    padding-bottom: 0;
  }
  header.page-head .info-row {
    padding-bottom: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header.page-head .info-row div.logo {
    width: auto;
    display: inline-block;
  }
  header.page-head .info-row .inf-block {
    display: none;
  }
  header.page-head .info-row .connect-item {
    display: none;
  }
  header.page-head nav.main-menu {
    padding-top: 45px;
    -ms-flex-pack: start;
        justify-content: flex-start;
    padding-bottom: 0;
    position: static;
    width: auto !important;
  }
  header.page-head nav.main-menu ul.menu {
    display: none;
  }
  header.page-head nav.main-menu .mobile-menu {
    display: block;
  }
  header.page-head nav.main-menu .mobile-menu .menu-button {
    font-family: Ubuntu;
    font-size: 24px;
    color: #39a651;
    display: inline-block;
    padding: 5px 10px;
  }
  header.page-head nav.main-menu .mobile-menu .menu-button.clicked {
    color: #ffffff;
    background: #39a651;
  }
  header.page-head nav.main-menu .mobile-menu ul.popup-menu {
    left: 0;
    position: absolute;
    width: 100%;
    max-width: 100%;
    padding: 40px 0;
    background: #39a651;
    display: none;
    z-index: 6;
  }
  header.page-head nav.main-menu .mobile-menu ul.popup-menu li.popup-menu-item {
    width: 100%;
  }
  header.page-head nav.main-menu .mobile-menu ul.popup-menu li.popup-menu-item a.menu-link {
    padding: 10px 0;
    margin: 0 40px;
    color: #ffffff;
    display: block;
    font-family: Ubuntu;
    border-bottom: 1px solid #389738;
  }
}
@media screen and (max-width: 1200px) {
  .col-1-2--last ul.comment-list {
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
  }
  .col-1-2--last {
    padding-top: 30px;
  }
  .unlimite-int .list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .unlimite-int .list li.plus-item {
    display: block;
    position: static;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    padding-bottom: 0;
  }
  .unlimite-int .list li.plus-item p.plus-text {
    padding-left: 0;
    position: static !important;
  }
  .unlimite-int .list li.plus-item p.plus-text .wrap {
    text-align: center;
  }
  .comments-block .grid-comment {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
  }
  .comments-block .grid-comment .comment-item {
    left: 0 !important;
  }
  .comments-block .grid-comment .terabite {
    left: 0 !important;
  }
  .individual-tarif .wrap-1200 {
    background: none;
    padding-bottom: 0;
  }
  .individual-tarif .wrap-1200 .icon {
    display: none;
  }
  .dont-speed-down .speed-block {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .dont-speed-down .speed-block h2.title {
    padding: 0;
    text-align: center;
  }
  .dont-speed-down .speed-block p.sub-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .comments-block .title {
    padding-top: 40px;
  }
}
@media screen and (max-width: 1100px) {
  .tarifs .grid {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
  }
  .tarifs .grid .col-1-2 {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .unlimite-int .list li.plus-item.wifi .wrap {
    top: 40px;
  }
  .unlimite-int .list li.plus-item.media .wrap {
    top: 28px;
  }
  .comments-block .grid-comment {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
  }
  .comments-block .grid-comment .comment-item {
    left: 0 !important;
  }
  .comments-block .grid-comment .terabite {
    left: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .comments-block .grid-comment {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
  }
  .comments-block .grid-comment .comment-item {
    left: 0 !important;
  }
  .comments-block .grid-comment .terabite {
    left: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  .unlimite-int {
    padding-bottom: 60px;
  }
  .unlimite-int h1.title {
    line-height: 1.2em;
    font-size: 32px;
    padding: 60px 0 0 0;
  }
  .unlimite-int p.sub-title {
    padding-left: 0;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5em;
    padding-bottom: 40px;
  }
  .unlimite-int .list {
    width: 100%;
  }
  .unlimite-int .list li.plus-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 20px;
    width: 100%;
  }
  .unlimite-int .list li.plus-item.modem .wrap {
    left: -40px;
  }
  .unlimite-int .list li.plus-item.modem .wrap .absolute.item-1 {
    left: 0;
  }
  .unlimite-int .list li.plus-item.media .wrap {
    left: 0px;
  }
  .unlimite-int .list li.plus-item.media .wrap .absolute.item-1 {
    left: 0;
  }
  .unlimite-int .list li.plus-item.media .wrap .absolute.item-2 {
    left: 0;
  }
  .unlimite-int .list li.plus-item .wrap {
    position: relative;
    text-align: center;
  }
  .unlimite-int .list li.plus-item p.plus-text {
    padding-left: 0 !important;
    text-align: center;
    max-width: 200px;
    width: 100%;
  }
  .tarifs h2.title-gray {
    font-size: 32px;
    padding: 60px 0 0;
  }
  .tarifs p.sub-title-gray {
    font-size: 18px;
  }
  .tarifs .grid {
    padding: 20px;
  }
  .tarifs .grid .col-1-2 {
    width: 100%;
  }
  .tarifs .grid .col-1-2 .block-2 {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .tarifs .grid .col-1-2 .block-2 .block:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block {
    min-height: 250px;
    min-width: 250px;
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block.t1 {
    background: url(../img/t1-s.png) no-repeat 95% 65px, #f2f2f2;
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block.t1:hover {
    background: url(../img/t1-s-h.png) no-repeat 95% 65px, #00933d;
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block.t2 {
    background: url(../img/t2-s.png) no-repeat 95% 65px, #f2f2f2;
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block.t2:hover {
    background: url(../img/t2-s-h.png) no-repeat 95% 65px, #00933d;
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block.t3 {
    background: url(../img/t3-s.png) no-repeat 95% 65px, #f2f2f2;
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block.t3:hover {
    background: url(../img/t3-s-h.png) no-repeat 95% 65px, #00933d;
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block.t4 {
    background: url(../img/t4-s.png) no-repeat 95% 65px, #f2f2f2;
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block.t4:hover {
    background: url(../img/t4-s-h.png) no-repeat 95% 65px, #00933d;
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block:hover {
    transition: all 1s;
    background: #39a651;
    cursor: pointer;
    z-index: 0;
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block:hover p.tarif-name {
    color: #ffffff;
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block:hover .connect {
    background: linear-gradient(to bottom, #ffe554, #ffcc01 100%);
    cursor: pointer;
    margin: 0 0 25px 25px;
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block:hover .connect:hover {
    box-shadow: 0px 5px 15px 0 rgba(0, 102, 0, 0.5);
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block p.tarif-name {
    font-family: UbuntuBold;
    font-size: 60px;
    padding-left: 20px;
    padding-top: 5px;
  }
  .tarifs .grid .col-1-2 .block-2 .hover-block p.tarif-name span.text {
    font-size: 24px;
    position: absolute;
    top: 72px;
    left: 20px;
  }
  .tarifs .grid .col-1-2 .big-block .hover-block p.tarif-name[data-mb="100"] span.text {
    font-size: 28px;
    display: block;
    position: absolute;
    top: 72px;
    left: 25px;
    max-width: 150px;
  }
  .dont-speed-down .speed-block {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .dont-speed-down .speed-block .col-1-2:first-child {
    padding-left: 0;
  }
  .dont-speed-down .speed-block .col-1-2:last-child {
    margin-left: 0;
    padding: 0 10px;
  }
  .dont-speed-down .speed-block .col-1-2:last-child .sub-title {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .individual-tarif .wrap-1200 h2.title {
    font-size: 32px;
    padding: 60px 0 0 0;
  }
  .individual-tarif .wrap-1200 p.sub-title {
    padding: 40px 30px 0;
  }
  .individual-tarif .wrap-1200 .application {
    padding: 30px 20px;
    background: url(../img/ind-back.PNG) no-repeat -2px 19px, #ffffff;
  }
  .individual-tarif .wrap-1200 .application .row .map-button {
    top: 60px;
  }
  .individual-tarif .wrap-1200 .application h3.title {
    font-size: 32px;
  }
  .individual-tarif .wrap-1200 .application .cc {
    left: 24px;
  }
  .individual-tarif .wrap-1200 .application .cc .connector {
    width: 54px;
    background: url(../img/connector.PNG) no-repeat right top;
  }
  .comments-block .title {
    padding-top: 60px;
    font-size: 32px;
  }
  .col-1-2--last ul.comment-list,
  .col-1-2--first ul.comment-list {
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
  }
  .col-1-2--last ul.comment-list li.comment-item .about-commentator .commentator p.name,
  .col-1-2--first ul.comment-list li.comment-item .about-commentator .commentator p.name {
    font-size: 20px;
  }
  .col-1-2--last ul.comment-list li.comment-item .about-commentator .commentator p.prof,
  .col-1-2--first ul.comment-list li.comment-item .about-commentator .commentator p.prof {
    font-size: 12px;
  }
  .col-1-2--last ul.comment-list li.comment-item span.comment-speed,
  .col-1-2--first ul.comment-list li.comment-item span.comment-speed {
    display: none !important;
  }
  .col-1-2--last ul.comment-list li.terabite,
  .col-1-2--first ul.comment-list li.terabite {
    max-width: 320px;
    min-width: 320px;
    padding-right: 0;
    padding-left: 0;
    left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 600px) and (min-width: 321px) {
  .unlimite-int h1.title {
    padding: 50px 10px 0;
  }
  .tarifs p.sub-title-gray {
    padding: 10px 10px 0;
  }
  .individual-tarif .wrap-1200 .application .row .map-button {
    top: 30px;
  }
  .individual-tarif .wrap-1200 .application .cc {
    display: none;
    left: 34px;
    top: 15px;
  }
  .comments-block {
    background: #379d47;
    padding-bottom: 100px;
    padding-top: 320px;
  }
  li.comment-item {
    max-width: 280px;
    position: relative;
  }
  li.comment-item .about-commentator {
    display: -ms-flexbox;
    display: flex;
    vertical-align: top;
  }
  li.comment-item .about-commentator .image {
    padding-right: 10px;
    padding-left: 25px;
    padding-top: 7px;
  }
  li.comment-item .about-commentator .commentator {
    padding-top: 25px;
    max-width: 300px;
    padding-bottom: 30px;
  }
  li.comment-item .about-commentator .commentator p.name {
    position: static;
    width: 140px;
    font-size: 18px;
    font-family: UbuntuBold;
    color: #333333;
  }
  li.comment-item .about-commentator .commentator p.prof {
    font-family: Ubuntu;
    color: #999999;
    padding-top: 0;
    font-size: 14px;
    position: absolute;
    width: 130px;
    line-height: 22px;
  }
  li.comment-item .comment {
    font-family: Ubuntu;
    font-size: 14px;
    padding: 30px;
    background: #f3f3d7;
    border-radius: 20px;
    max-width: 320px;
    box-sizing: border-box;
    top: -30px;
    position: relative;
  }
  li.comment-item .comment:before {
    content: "";
    display: block;
    background: url(../img/comment-icon.PNG) no-repeat;
    width: 32px;
    height: 24px;
    position: absolute;
    top: -23px;
    left: 77px;
  }
  li.comment-item .comment p {
    color: #333333;
    font-size: 14px;
    line-height: 1.5em;
    padding-bottom: 10px;
    font-family: Ubuntu;
  }
  li.comment-item .comment p:last-child {
    padding-bottom: 0;
  }
  li.comment-item .comment strong {
    font-family: UbuntuBold;
    color: #333333;
    font-size: 14px;
    line-height: 1.5em;
  }
}
@media screen and (max-width: 460px) {
  .application.white-popup {
    max-width: 460px;
    margin: 55px auto 0;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
    z-index: 5;
    background: #ffffff;
  }
}
@media screen and (max-width: 1000px) and (min-width: 760px) {
  .how-to-connect .step-block .step-item,
  .how-to-connect .step-block .step-item:nth-child(1),
  .how-to-connect .step-block .step-item:nth-child(2),
  .how-to-connect .step-block .step-item:nth-child(3) {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .how-to-connect .step-block .step-item:nth-child(2) .step-info-block {
    top: 10px;
    left: 65px;
  }
}
@media screen and (max-width: 760px) {
  .how-to-connect .step-block .step-item,
  .how-to-connect .step-block .step-item:nth-child(1),
  .how-to-connect .step-block .step-item:nth-child(2),
  .how-to-connect .step-block .step-item:nth-child(3) {
    left: 0 !important;
    right: 0 !important;
    padding-left: 30px;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 40px;
    -ms-flex-direction: column !important;
        flex-direction: column !important;
  }
  .how-to-connect .step-block .step-item .image-wrap svg,
  .how-to-connect .step-block .step-item:nth-child(1) .image-wrap svg,
  .how-to-connect .step-block .step-item:nth-child(2) .image-wrap svg,
  .how-to-connect .step-block .step-item:nth-child(3) .image-wrap svg {
    left: 0;
    top: 0;
  }
  .how-to-connect .step-block .step-item .step-info-block,
  .how-to-connect .step-block .step-item:nth-child(1) .step-info-block,
  .how-to-connect .step-block .step-item:nth-child(2) .step-info-block,
  .how-to-connect .step-block .step-item:nth-child(3) .step-info-block {
    left: 0;
    right: 0;
    top: 0;
  }
  .how-to-connect .step-block .step-item .step-info-block .step-text,
  .how-to-connect .step-block .step-item:nth-child(1) .step-info-block .step-text,
  .how-to-connect .step-block .step-item:nth-child(2) .step-info-block .step-text,
  .how-to-connect .step-block .step-item:nth-child(3) .step-info-block .step-text {
    padding-top: 20px;
    top: 0;
  }
}
@media screen and (max-width: 600px) {
  .how-to-connect .page-title {
    font-size: 32px;
    line-height: 40px;
  }
  .how-to-connect .sub-title {
    font-size: 18px;
    padding: 20px 30px 0;
  }
  .how-to-connect .step-block .step-item,
  .how-to-connect .step-block .step-item:nth-child(1),
  .how-to-connect .step-block .step-item:nth-child(2),
  .how-to-connect .step-block .step-item:nth-child(3) {
    left: 0 !important;
    right: 0 !important;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 40px;
    -ms-flex-direction: column !important;
        flex-direction: column !important;
  }
  .how-to-connect .step-block .step-item .image-wrap svg,
  .how-to-connect .step-block .step-item:nth-child(1) .image-wrap svg,
  .how-to-connect .step-block .step-item:nth-child(2) .image-wrap svg,
  .how-to-connect .step-block .step-item:nth-child(3) .image-wrap svg {
    left: 0;
    top: 0;
  }
  .how-to-connect .step-block .step-item .step-info-block,
  .how-to-connect .step-block .step-item:nth-child(1) .step-info-block,
  .how-to-connect .step-block .step-item:nth-child(2) .step-info-block,
  .how-to-connect .step-block .step-item:nth-child(3) .step-info-block {
    left: 0;
    right: 0;
    top: 0;
  }
  .how-to-connect .step-block .step-item .step-info-block .step-text,
  .how-to-connect .step-block .step-item:nth-child(1) .step-info-block .step-text,
  .how-to-connect .step-block .step-item:nth-child(2) .step-info-block .step-text,
  .how-to-connect .step-block .step-item:nth-child(3) .step-info-block .step-text {
    padding-top: 20px;
    top: 0;
  }
  .how-to-connect .free-3-days {
    background: none;
  }
  .how-to-connect .free-3-days .row-to-connector .cc-right {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .how-to-connect .page-title {
    font-size: 32px;
    line-height: 40px;
    padding: 60px 20px 0;
  }
  .how-to-connect .step-block .step-item,
  .how-to-connect .step-block .step-item:nth-child(1),
  .how-to-connect .step-block .step-item:nth-child(2),
  .how-to-connect .step-block .step-item:nth-child(3) {
    left: 0 !important;
    right: 0 !important;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    padding-bottom: 40px;
    -ms-flex-direction: column !important;
        flex-direction: column !important;
  }
  .how-to-connect .step-block .step-item .image-wrap,
  .how-to-connect .step-block .step-item:nth-child(1) .image-wrap,
  .how-to-connect .step-block .step-item:nth-child(2) .image-wrap,
  .how-to-connect .step-block .step-item:nth-child(3) .image-wrap {
    background-size: contain;
    width: 260px;
  }
  .how-to-connect .step-block .step-item .image-wrap svg,
  .how-to-connect .step-block .step-item:nth-child(1) .image-wrap svg,
  .how-to-connect .step-block .step-item:nth-child(2) .image-wrap svg,
  .how-to-connect .step-block .step-item:nth-child(3) .image-wrap svg {
    width: 280px;
    left: 0;
    top: 0;
  }
  .how-to-connect .step-block .step-item .step-info-block,
  .how-to-connect .step-block .step-item:nth-child(1) .step-info-block,
  .how-to-connect .step-block .step-item:nth-child(2) .step-info-block,
  .how-to-connect .step-block .step-item:nth-child(3) .step-info-block {
    left: 0;
    right: 0;
    top: 0;
  }
  .how-to-connect .step-block .step-item .step-info-block .number-of-step,
  .how-to-connect .step-block .step-item:nth-child(1) .step-info-block .number-of-step,
  .how-to-connect .step-block .step-item:nth-child(2) .step-info-block .number-of-step,
  .how-to-connect .step-block .step-item:nth-child(3) .step-info-block .number-of-step {
    left: 0;
    top: -45px;
  }
  .how-to-connect .step-block .step-item .step-info-block .step-title,
  .how-to-connect .step-block .step-item:nth-child(1) .step-info-block .step-title,
  .how-to-connect .step-block .step-item:nth-child(2) .step-info-block .step-title,
  .how-to-connect .step-block .step-item:nth-child(3) .step-info-block .step-title {
    font-size: 28px;
    padding: 0 20px;
  }
  .how-to-connect .step-block .step-item .step-info-block .step-text,
  .how-to-connect .step-block .step-item:nth-child(1) .step-info-block .step-text,
  .how-to-connect .step-block .step-item:nth-child(2) .step-info-block .step-text,
  .how-to-connect .step-block .step-item:nth-child(3) .step-info-block .step-text {
    padding: 20px 20px 0;
    top: 0;
  }
  .how-to-connect .free-3-days {
    background: none;
  }
  .how-to-connect .free-3-days .title {
    font-size: 24px;
    line-height: 30px;
    padding: 0 20px;
  }
  .how-to-connect .free-3-days .cc-right {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .tarifs-block-wrap h1.title {
    color: #333333;
    text-align: center;
    margin: 0 auto 0;
    font-size: 60px;
    line-height: 72px;
    font-family: UbuntuBold;
    font-weight: normal;
    max-width: 800px;
    padding: 0 20px;
    margin-bottom: 50px;
  }
  .tarifs-block-wrap .green-block {
    background: #40ae49;
    margin: 0 40px;
  }
  .tarifs-block-wrap .plus-block {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .tarifs-block-wrap .plus-block .plus-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .tarifs-block-wrap .plus-block .plus-item .img-wrap {
    padding-right: 20px;
  }
  .tarifs-block-wrap .plus-block .plus-item .text-wrap {
    max-width: 100px;
    padding-top: 0;
  }
  .tarifs-block-wrap .plus-block .plus-item .text-wrap p {
    text-align: center;
  }
  .business-connect-item {
    max-width: 980px;
    margin: 50px auto 0;
  }
  .business-connect-item .tarif-category-block {
    margin: 0 40px;
  }
  .business-connect-item .tarif-category-block .facts {
    padding-right: 60px;
    margin-bottom: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .business-connect-item .tarif-category-block .facts .tarif-fact {
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
  }
  .business-connect-item .tarif-category-block .facts .tarif-fact .img-wrap {
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .business-connect-item .tarif-category-block .facts .tarif-fact .text-wrap {
    padding-top: 35px;
  }
  .business-connect-item .tarif-category-block .facts .tarif-fact .text-wrap p {
    color: #666666;
    font-family: Ubuntu;
    line-height: 24px;
    max-width: 270px;
  }
  .business-connect-item .tarif-category-block .wrap-row {
    display: -ms-flexbox;
    display: flex;
  }
  .business-connect-item .tarif-category-block .wrap-row .wrap-blocks {
    max-width: 640px;
  }
  .business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 {
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px;
  }
  .business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .block:first-child {
    margin-right: 20px;
  }
  .business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block {
    min-width: 270px;
    min-height: 300px;
  }
  .business-connect-item .tarif-category-block .wrap-row .right-block-wrap {
    margin-left: 0;
    max-width: 270px;
    margin-right: 0;
  }
}
@media screen and (max-width: 950px) {
  .tarifs-block-wrap .business-connect-item {
    max-width: 980px;
    margin: 50px auto 0;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block {
    margin: 0 40px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .facts {
    padding-right: 60px;
    margin-bottom: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .facts .tarif-fact {
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .facts .tarif-fact .img-wrap {
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .facts .tarif-fact .text-wrap {
    padding-top: 35px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .facts .tarif-fact .text-wrap p {
    color: #666666;
    font-family: Ubuntu;
    line-height: 24px;
    max-width: 270px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .wrap-blocks {
    max-width: 100%;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 {
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .block {
    width: 100%;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .block:last-child {
    margin-left: 10px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .block:first-child {
    margin-right: 10px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block {
    min-width: 50%;
    min-height: 300px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .right-block-wrap {
    margin-top: 45px;
    margin-left: 0;
    max-width: 270px;
    margin-right: 0;
  }
}
@media screen and (max-width: 950px) {
  .tarifs-block-wrap .business-connect-item {
    max-width: 980px;
    margin: 50px auto 0;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block {
    margin: 0 40px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .facts {
    padding-right: 60px;
    margin-bottom: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .facts .tarif-fact {
    -ms-flex-direction: column;
        flex-direction: column;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
  }
}
@media screen and (max-width: 700px) {
  .tarifs-block-wrap h1.title {
    font-size: 48px;
    line-height: 44px;
  }
  .tarifs-block-wrap .green-block {
    padding: 20px;
  }
  .tarifs-block-wrap .green-block .sub-title {
    font-size: 16px;
    line-height: 24px;
  }
  .tarifs-block-wrap .plus-block {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 25px;
  }
  .tarifs-block-wrap .plus-block .plus-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    margin-bottom: 25px;
  }
  .tarifs-block-wrap .plus-block .plus-item .img-wrap {
    padding-right: 20px;
  }
  .tarifs-block-wrap .plus-block .plus-item .text-wrap {
    max-width: 200px;
    padding-top: 25px;
  }
  .tarifs-block-wrap .plus-block .plus-item .text-wrap p {
    text-align: left;
  }
  .tarifs-block-wrap .plus-block ~ .business-connect-item {
    margin-top: 0;
  }
  .tarifs-block-wrap .business-connect-item {
    max-width: 980px;
    margin: 50px auto 0;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block {
    margin: 0 40px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .facts {
    padding-right: 60px;
    margin-bottom: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .facts .tarif-fact {
    -ms-flex-direction: row;
        flex-direction: row;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .wrap-blocks {
    max-width: 100%;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 20px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .block {
    width: 100%;
    padding-bottom: 20px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .block:last-child {
    margin-left: 0;
    padding-bottom: 0;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .block:first-child {
    margin-right: 0;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block {
    min-width: 50%;
    min-height: 300px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .right-block-wrap {
    margin-top: 45px;
    margin-left: 0;
    max-width: 270px;
    margin-right: 0;
  }
  .free-3-days {
    background: none;
  }
  .free-3-days .title {
    font-size: 24px;
    line-height: 30px;
    padding: 0 20px;
  }
  .free-3-days .cc-right {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .tarifs-block-wrap h1.title {
    font-size: 32px;
  }
  .tarifs-block-wrap .green-block {
    margin: 0 20px;
  }
  .tarifs-block-wrap .business-connect-item {
    max-width: 980px;
    margin: 50px auto 0;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block {
    margin: 0 20px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .category-name {
    color: #333333;
    font-size: 32px;
    font-family: UbuntuBold;
    margin-bottom: 25px;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .subtitle-block {
    max-width: 850px;
    margin-bottom: 0;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .subtitle-block p {
    font-size: 18px;
    line-height: 26px;
    font-family: Ubuntu;
    color: #666666;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .facts {
    padding-right: 60px;
    margin-bottom: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .tarifs-block-wrap .business-connect-item .tarif-category-block .facts .tarif-fact {
    -ms-flex-direction: column;
        flex-direction: column;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
  }
}
@media screen and (max-width: 600px) {
  .tarifs-block-wrap .business-connect-item .tarif-category-block .wrap-row .wrap-blocks .big-block .hover-block p.tarif-name[data-mb="100"] span.text {
    font-size: 28px;
    position: relative;
    top: 0px;
    display: block;
    left: 100px;
    max-width: 110px;
  }
}
@media screen and (max-width: 1000px) {
  .about-company {
    margin: 0 40px;
  }
}
@media screen and (max-width: 1000px) {
  .about-company {
    margin: 0 40px;
  }
  .about-company .column-wrap {
    display: -ms-flexbox;
    display: flex;
  }
  .about-company .column-wrap .base-content-wrap {
    width: 100%;
  }
  .about-company .column-wrap .base-content-wrap .img-wrap img {
    max-width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .about-company {
    margin: 0 40px;
  }
  .about-company .column-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .about-company .column-wrap .base-content-wrap {
    width: 100%;
  }
  .about-company .column-wrap .base-content-wrap .img-wrap img {
    max-width: 100%;
  }
  .about-company .column-wrap .right-block-wrap {
    margin-top: 40px;
    margin-left: 0;
  }
  .about-company .column-wrap .right-block-wrap .right-block {
    -ms-flex-direction: row;
        flex-direction: row;
    display: -ms-flexbox;
    display: flex;
  }
  .about-company .column-wrap .right-block-wrap .right-block .right-text-block {
    max-width: 100%;
    padding-left: 30px;
  }
  .about-company .column-wrap .right-block-wrap .consult-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .about-company .column-wrap .right-block-wrap .consult-block .img-wrap {
    padding-left: 50px;
  }
  .about-company .column-wrap .right-block-wrap .consult-block .text-block {
    padding-top: 50px;
    padding-left: 75px;
  }
}
@media screen and (max-width: 500px) {
  .about-company {
    margin: 0 40px;
  }
  .about-company .column-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .about-company .column-wrap .base-content-wrap {
    width: 100%;
  }
  .about-company .column-wrap .base-content-wrap .img-wrap img {
    max-width: 100%;
  }
  .about-company .column-wrap .right-block-wrap {
    margin-top: 40px;
    margin-left: 0;
  }
  .about-company .column-wrap .right-block-wrap .right-block {
    -ms-flex-direction: column;
        flex-direction: column;
    display: -ms-flexbox;
    display: flex;
  }
  .about-company .column-wrap .right-block-wrap .right-block .right-text-block {
    max-width: 100%;
    padding-left: 30px;
  }
  .about-company .column-wrap .right-block-wrap .consult-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .about-company .column-wrap .right-block-wrap .consult-block .img-wrap {
    padding-left: 20px;
  }
  .about-company .column-wrap .right-block-wrap .consult-block .text-block {
    padding-top: 50px;
    padding-left: 75px;
  }
}
@media screen and (max-width: 400px) {
  .about-company {
    margin: 0 20px;
  }
  .about-company .title {
    font-size: 32px;
  }
  .about-company .column-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .about-company .column-wrap .base-content-wrap {
    width: 100%;
  }
  .about-company .column-wrap .base-content-wrap .img-wrap img {
    max-width: 100%;
  }
  .about-company .column-wrap .right-block-wrap {
    margin-top: 40px;
    margin-left: 0;
  }
  .about-company .column-wrap .right-block-wrap .right-block {
    -ms-flex-direction: column;
        flex-direction: column;
    display: -ms-flexbox;
    display: flex;
  }
  .about-company .column-wrap .right-block-wrap .right-block .right-text-block {
    max-width: 100%;
    padding-left: 0;
  }
  .about-company .column-wrap .right-block-wrap .consult-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .about-company .column-wrap .right-block-wrap .consult-block .img-wrap {
    padding-left: 0;
  }
  .about-company .column-wrap .right-block-wrap .consult-block .text-block {
    padding-top: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 860px) {
  footer.footer .wrap-1200.foot-flex {
    background: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer.footer .wrap-1200.foot-flex .row-1-2:first-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer.footer .wrap-1200.foot-flex .row-1-2:first-child .col-1-3 {
    margin-bottom: 30px;
  }
  footer.footer .wrap-1200.foot-flex .row-1-2:last-child {
    -ms-flex-pack: center;
        justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  footer.footer .wrap-1200.foot-flex {
    background: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer.footer .wrap-1200.foot-flex .row-1-2:first-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
  }
  footer.footer .wrap-1200.foot-flex .row-1-2:first-child .col-1-3 {
    margin-bottom: 30px;
  }
  footer.footer .wrap-1200.foot-flex .row-1-2:first-child .col-1-3 p.row-text {
    text-align: center;
  }
  footer.footer .wrap-1200.foot-flex .row-1-2:first-child .col-1-3:last-child p.row-text {
    font-size: 28px;
  }
  footer.footer .wrap-1200.foot-flex .row-1-2:first-child .col-1-3:last-child p.row-text:before {
    display: none;
  }
  footer.footer .wrap-1200.foot-flex .row-1-2:last-child {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-top: 0;
  }
  footer.footer .wrap-1200.foot-flex .row-1-2:last-child .col-1-2 {
    text-align: center;
    margin-right: 0 !important;
  }
  footer.footer .wrap-1200.foot-flex .row-1-2:last-child .col-1-2:first-child {
    padding-bottom: 30px;
  }
  footer.footer .wrap-1200.foot-flex .row-1-2:last-child .col-1-2.mail-icon:first-child:after {
    display: none !important;
  }
}
