@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'), url('../fonts/ubuntu.woff2') format('woff2'), url('../fonts/ubuntu.woff') format('woff'), url('../fonts/ubuntu.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuBold';
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('../fonts/ubuntubold.woff2') format('woff2'), url('../fonts/ubuntubold.woff') format('woff'), url('../fonts/ubuntubold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@keyframes Arrow {
  from {
    background-position: 100px 0, 80px 0, 900px 0, 880px 0;
  }
  to {
    background-position: 100px 110px, 80px 100px, 900px 100px, 880px 100px;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  overflow-x: hidden;
  background: #379d47;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
.index .wrap-1200 {
  background: none;
  box-shadow: none !important;
}
.wrap-1200 {
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 -35px 55px 25px rgba(0, 86, 0, 0.25);
}
.wrap-1200:last-child {
  box-shadow: 0 -35px 55px 25px rgba(0, 86, 0, 0.25);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.wrap-1200:nth-child(2) {
  box-shadow: 0 -35px 55px 25px rgba(0, 86, 0, 0.25);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.footer .wrap-1200 {
  box-shadow: none !important;
}
.emitter {
  position: relative;
  top: 15px;
}
.emitter .particle {
  position: absolute;
  width: 40px;
  height: 5px;
  border-radius: 20%;
  transition: 1s ease-in;
}
.overlay {
  display: none;
}
.unlimite-int {
  background: #3f3f3f;
  padding-bottom: 40px;
}
.unlimite-int h1.title {
  color: #ffffff;
  font-size: 36px;
  font-family: UbuntuBold;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  line-height: 1.2em;
}
.unlimite-int p.sub-title {
  color: #ffffff;
  padding-top: 2px;
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  max-width: 370px;
  margin: 35px auto 0;
}
.unlimite-int p.sub-title .orange {
  background-image: linear-gradient(to right, #3f3f3f 50%, #ffcc00 50%);
  padding: 0 5px 2px;
  color: #000000;
  transition: background-position 1s;
  background-size: 200% 100%;
}
.unlimite-int p.sub-title .orange.active {
  color: #000000;
  transition: all 0.5s linear;
  background-position: -100% 0;
}
.unlimite-int .plus-list {
  padding-top: 50px;
}
.unlimite-int .plus-list .list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.unlimite-int .plus-list .list li.plus-item {
  margin: 0 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.unlimite-int .plus-list .list li.plus-item .wrap {
  padding-bottom: 22px;
  text-align: center;
}
.unlimite-int .plus-list .list li.plus-item .wrap img {
  transform: scale(0);
  opacity: 0.00001;
  will-change: transform, opacity;
  transition: all 0.5s linear;
}
.unlimite-int .plus-list .list li.plus-item .wrap img.animated {
  transform: scale(1);
  will-change: transform, opacity;
  opacity: 1;
  transition: all 0.5s linear;
}
.unlimite-int .plus-list .list li.plus-item .plus-text {
  opacity: 0.0001;
  transition: opacity 1s linear;
  font-family: UbuntuBold;
  color: #ffffff;
  max-width: 200px;
  text-align: center;
  line-height: 1.5em;
}
.unlimite-int .plus-list .list li.plus-item .plus-text.animated {
  opacity: 1;
  transition: opacity 1s linear;
}
.tarifs {
  padding-bottom: 45px;
  background: #ffffff;
}
.tarifs h2.title-gray {
  text-align: center;
  font-size: 36px;
  font-family: UbuntuBold;
  padding-top: 30px;
  color: #333333;
}
.tarifs p.sub-title-gray {
  text-align: center;
  font-size: 16px;
  font-family: Ubuntu;
  padding-top: 10px;
  color: #999999;
}
.tarifs .grid {
  -ms-flex-pack: justify;
      justify-content: space-between;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 100px 0;
}
.tarifs .grid .col-title {
  font-size: 22px;
  font-family: UbuntuBold;
  padding-top: 30px;
  padding-bottom: 32px;
  color: #333333;
}
.tarifs .grid .block-2 {
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}
.tarifs .grid .block-2 .block:first-child {
  margin-right: 20px;
}
.tarifs .grid .block-2 .hover-block {
  min-width: 210px;
  min-height: 210px;
  box-sizing: border-box;
  border-radius: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
}
.tarifs .grid .block-2 .hover-block.t1 {
  background: url(../img/t1-s.png) no-repeat center calc(128%), #f2f2f2;
}
.tarifs .grid .block-2 .hover-block.t1:hover {
  background: url(../img/t1-s-h.png) no-repeat center calc(128%), #00933d;
}
.tarifs .grid .block-2 .hover-block.t2 {
  background: url(../img/t2-s.png) no-repeat center calc(128%), #f2f2f2;
}
.tarifs .grid .block-2 .hover-block.t2:hover {
  background: url(../img/t2-s-h.png) no-repeat center calc(128%), #00933d;
}
.tarifs .grid .block-2 .hover-block.t3 {
  background: url(../img/t3-s.png) no-repeat center calc(128%), #f2f2f2;
}
.tarifs .grid .block-2 .hover-block.t3:hover {
  background: url(../img/t3-s-h.png) no-repeat center calc(128%), #00933d;
}
.tarifs .grid .block-2 .hover-block.t4 {
  background: url(../img/t4-s.png) no-repeat center calc(128%), #f2f2f2;
}
.tarifs .grid .block-2 .hover-block.t4:hover {
  background: url(../img/t4-s-h.png) no-repeat center calc(128%), #00933d;
}
.tarifs .grid .block-2 .hover-block:hover {
  cursor: pointer;
  z-index: 0;
}
.tarifs .grid .block-2 .hover-block:hover p.tarif-name {
  color: #ffffff;
}
.tarifs .grid .block-2 .hover-block:hover .connect {
  display: block;
}
.tarifs .grid .block-2 .hover-block:hover .connect:hover {
  background: linear-gradient(to bottom, #ffe554, #ffcc01 100%);
  cursor: pointer;
  box-shadow: 0px 5px 15px 0 rgba(0, 102, 0, 0.5);
}
.tarifs .grid .block-2 .hover-block p.tarif-name {
  font-family: UbuntuBold;
  font-size: 60px;
  padding-left: 20px;
  padding-top: 5px;
}
.tarifs .grid .block-2 .hover-block p.tarif-name[data-mb="75"] {
  font-size: 60px;
}
.tarifs .grid .block-2 .hover-block p.tarif-name span.text {
  font-size: 20px;
  position: absolute;
  top: 75px;
  left: 20px;
}
.tarifs .grid .big-block .hover-block {
  min-height: 210px;
  min-width: 250px;
  box-sizing: border-box;
  border-radius: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
}
.tarifs .grid .big-block .hover-block.t1 {
  background: url(../img/t1.png) no-repeat bottom right, #f2f2f2;
}
.tarifs .grid .big-block .hover-block.t1:hover {
  background: url(../img/t1-h.png) no-repeat bottom right, #00933d;
}
.tarifs .grid .big-block .hover-block.t2 {
  background: url(../img/t2.png) no-repeat bottom right, #f2f2f2;
}
.tarifs .grid .big-block .hover-block.t2:hover {
  background: url(../img/t2-h.png) no-repeat bottom right, #00933d;
}
.tarifs .grid .big-block .hover-block:hover {
  cursor: pointer;
}
.tarifs .grid .big-block .hover-block:hover p.tarif-name {
  color: #ffffff;
}
.tarifs .grid .big-block .hover-block:hover .connect {
  display: block;
  margin: 0 0 25px 25px;
}
.tarifs .grid .big-block .hover-block:hover .connect:hover {
  background: linear-gradient(to bottom, #ffe554, #ffcc01 100%);
  cursor: pointer;
  box-shadow: 0px 5px 15px 0 rgba(0, 102, 0, 0.5);
}
.tarifs .grid .big-block .hover-block p.tarif-name {
  font-family: UbuntuBold;
  font-size: 64px;
  padding-left: 20px;
  padding-top: 5px;
}
.tarifs .grid .big-block .hover-block p.tarif-name[data-mb="100"] {
  font-size: 60px;
}
.tarifs .grid .big-block .hover-block p.tarif-name[data-mb="100"] span.text {
  font-size: 24px;
  position: absolute;
  top: 75px;
  left: 25px;
}
.tarifs .grid .big-block .hover-block p.tarif-name span.text {
  font-size: 20px;
  position: absolute;
  top: 75px;
  left: 20px;
}
p.button-row button.connect {
  color: #333333;
  background: linear-gradient(to bottom, #ffe554, #ffcc01 100%);
  display: none;
  border: none;
  padding: 10px 20px;
  margin: 0 auto 25px;
  font-size: 16px;
  font-family: Ubuntu;
  border-radius: 18px;
}
p.button-row button.connect:hover {
  background: linear-gradient(to bottom, #ffe554, #ffcc01 100%);
  cursor: pointer;
  color: #111111;
  box-shadow: 0px 5px 15px 0 rgba(0, 102, 0, 0.5);
}
.dont-speed-down {
  background: #333333;
}
.dont-speed-down .speed-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 10px;
  padding-bottom: 55px;
}
.dont-speed-down .speed-block h2.title {
  color: #ffffff;
  font-size: 24px;
  font-family: UbuntuBold;
  font-weight: normal;
  padding-top: 38px;
  padding-bottom: 0px;
}
.dont-speed-down .speed-block p.sub-title {
  color: #999999;
  font-family: Ubuntu;
  max-width: 450px;
  font-size: 16px;
  display: inline-block;
  padding-top: 0px;
  line-height: 1.5em;
}
.dont-speed-down .speed-block .col-1-2:first-child {
  padding-left: 20px;
  box-sizing: border-box;
}
.dont-speed-down .speed-block .col-1-2:last-child {
  padding-left: 0px;
  margin-left: 16px;
}
.individual-tarif {
  position: relative;
  background: #379d47;
  max-height: 620px;
}
.individual-tarif .wrap-1200 {
  background: url(../img/wifi-ind.png) no-repeat center 160px;
  padding-bottom: 155px;
  position: relative;
  z-index: 5;
}
.individual-tarif .wrap-1200 h2.title {
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  padding-top: 40px;
  font-family: UbuntuBold;
}
.individual-tarif .wrap-1200 p.sub-title {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 16px;
  max-width: 590px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  line-height: 30px;
}
.individual-tarif .wrap-1200 .application {
  max-width: 460px;
  margin: 25px auto 0;
  padding: 30px 70px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  z-index: 5;
  background: url(../img/ind-back.PNG) no-repeat 10px -105px, #ffffff;
}
.individual-tarif .wrap-1200 .application h3.title {
  font-family: UbuntuBold;
  font-size: 24px;
  padding-top: 10px;
  color: #333333;
  padding-bottom: 30px;
}
.individual-tarif .wrap-1200 .application .row {
  padding-bottom: 15px;
  position: relative;
}
.individual-tarif .wrap-1200 .application .row .row-name {
  display: block;
  font-family: Ubuntu;
  color: #333333;
  font-size: 16px;
  padding-bottom: 6px;
}
.individual-tarif .wrap-1200 .application .row .popup-field {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 10px 12px 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 16px;
  font-weight: normal;
  font-family: Ubuntu;
}
.individual-tarif .wrap-1200 .application .row .popup-field::-moz-placeholder {
  color: #cccccc;
  font-family: Ubuntu;
  font-weight: normal;
  font-size: 1px;
}
.individual-tarif .wrap-1200 .application .row .popup-field::-webkit-input-placeholder {
  color: #cccccc;
  font-family: Ubuntu;
  font-weight: normal;
}
.individual-tarif .wrap-1200 .application .row .popup-field:-ms-input-placeholder {
  color: #cccccc;
  font-family: Ubuntu;
  font-weight: normal;
}
.individual-tarif .wrap-1200 .application .row .popup-field[data-field-name="address"] {
  padding-right: 71px;
}
.individual-tarif .wrap-1200 .application .row .popup-field:focus,
.individual-tarif .wrap-1200 .application .row .popup-field:hover {
  outline: none;
  border: 1px solid #379d47;
}
.individual-tarif .wrap-1200 .application .row .popup-field.error {
  border: 1px solid red;
}
.individual-tarif .wrap-1200 .application .row .map-button {
  position: absolute;
  right: 10px;
  text-align: right;
  font-family: Ubuntu;
  font-size: 12px;
  text-decoration: underline;
  color: #39a651;
  top: 30px;
}
.individual-tarif .wrap-1200 .application .row .map-button:hover {
  color: #006939;
  cursor: pointer;
}
.individual-tarif .wrap-1200 .application .row.button {
  text-align: right;
}
.individual-tarif .wrap-1200 .application .row.button .send-form {
  color: #ffffff;
  font-family: Ubuntu;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  background: #379d47;
  margin-top: 12px;
  position: relative;
  z-index: 5;
}
.individual-tarif .wrap-1200 .application .row.button .send-form:hover {
  cursor: pointer;
  background: #109d2c;
}
ul.icons-list {
  position: relative;
  height: 0;
}
ul.icons-list li.icon {
  display: inline-block;
  position: absolute;
  left: 465px;
  top: 200px;
}
ul.icons-list li.icon.pc-ic {
  transition: 1.5s all;
}
ul.icons-list li.icon.docs-ic {
  transition: 1.5s all;
}
ul.icons-list li.icon.media-ic {
  transition: 1s all;
}
ul.icons-list li.icon.play-ic {
  transition: 0.5s all;
}
.cc {
  position: absolute;
  left: -5px;
  top: 30px;
  z-index: 1;
}
.cc .connector {
  background: url(../img/connector.PNG) no-repeat left top;
  display: inline-block;
  width: 114px;
  height: 18px;
  margin-left: -0.36em;
}
.cc .cable {
  content: "";
  background: url(../img/connector-cable.PNG) repeat-x left top;
  display: inline-block;
  width: 22px;
  height: 18px;
  transition: 1s all;
}
.comments-block {
  background: #379d47;
  padding-bottom: 100px;
  padding-top: 180px;
}
.comments-block .title {
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
  font-family: UbuntuBold;
  color: #333333;
  font-size: 36px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #ffffff;
}
.comments-block .grid-comment {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  background: #ffffff;
  padding-bottom: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -10px;
}
li.comment-item {
  max-width: 280px;
  position: relative;
}
li.comment-item .about-commentator {
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
}
li.comment-item .about-commentator .image {
  padding-right: 20px;
  padding-left: 25px;
  padding-top: 7px;
}
li.comment-item .about-commentator .commentator {
  padding-top: 43px;
  max-width: 300px;
  padding-bottom: 30px;
}
li.comment-item .about-commentator .commentator p.name {
  position: absolute;
  width: 100%;
  font-size: 18px;
  font-family: UbuntuBold;
  color: #333333;
}
li.comment-item .about-commentator .commentator p.prof {
  font-family: Ubuntu;
  color: #999999;
  padding-top: 20px;
  font-size: 14px;
  position: absolute;
  width: 200px;
  line-height: 22px;
}
li.comment-item .comment {
  font-family: Ubuntu;
  font-size: 14px;
  padding: 30px;
  background: #f3f3d7;
  border-radius: 20px;
  max-width: 320px;
  box-sizing: border-box;
  top: -30px;
  position: relative;
}
li.comment-item .comment:before {
  content: "";
  display: block;
  background: url(../img/comment-icon.PNG) no-repeat;
  width: 32px;
  height: 24px;
  position: absolute;
  top: -23px;
  left: 77px;
}
li.comment-item .comment p {
  color: #333333;
  font-size: 14px;
  line-height: 1.5em;
  padding-bottom: 10px;
  font-family: Ubuntu;
}
li.comment-item .comment p:last-child {
  padding-bottom: 0;
}
li.comment-item .comment strong {
  font-family: UbuntuBold;
  color: #333333;
  font-size: 14px;
  line-height: 1.5em;
}
.col-1-2--first li.comment-item:first-child {
  left: -20px;
}
.col-1-2--first li.comment-item:last-child {
  left: -20px;
}
.col-1-2--last {
  padding-top: 95px;
}
.col-1-2--last ul.comment-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
}
.col-1-2--last li.comment-item {
  left: 89px;
}
.col-1-2--last li.terabite {
  position: relative;
  left: 71px;
  padding-top: 8px;
  min-width: 385px;
  box-sizing: border-box;
  padding-right: 35px;
}
.col-1-2--last li.terabite .img-wrap {
  position: absolute;
  left: 31px;
}
.col-1-2--last li.terabite .ter-text {
  padding-top: 45px;
}
.col-1-2--last li.terabite .ter-text p.title-text {
  color: #379d47;
  font-family: UbuntuBold;
  font-size: 54px;
  text-align: center;
}
.col-1-2--last li.terabite .ter-text p.title-text span.big-text {
  text-align: center;
  font-size: 150px;
  display: block;
  line-height: 130px;
}
.col-1-2--last li.terabite p.sub-text {
  color: #999999;
  font-family: Ubuntu;
  font-size: 18px;
  max-width: 350px;
  text-align: center;
  line-height: 27px;
  padding-top: 20px;
}
.application.white-popup {
  max-width: 460px;
  margin: 55px auto 0;
  padding: 30px 70px;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  z-index: 5;
  background: #ffffff;
}
.application.white-popup h3.title {
  font-family: UbuntuBold;
  font-size: 36px;
  padding-top: 10px;
  color: #333333;
  padding-bottom: 40px;
}
.application.white-popup .row {
  padding-bottom: 30px;
  position: relative;
}
.application.white-popup .row .row-name {
  display: block;
  font-family: Ubuntu;
  color: #333333;
  font-size: 20px;
  padding-bottom: 5px;
}
.application.white-popup .row .popup-field {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 20px;
  font-weight: normal;
  font-family: Ubuntu;
}
.application.white-popup .row .popup-field[data-field-name="address"] {
  padding-right: 71px;
}
.application.white-popup .row .popup-field:focus,
.application.white-popup .row .popup-field:hover {
  outline: none;
  border: 1px solid #379d47;
}
.application.white-popup .row .map-button {
  position: absolute;
  right: 10px;
  text-align: right;
  font-size: 12px;
  text-decoration: underline;
  color: #39a651;
  top: 40px;
}
.application.white-popup .row.button {
  text-align: right;
}
.application.white-popup .row.button .send-form {
  color: #ffffff;
  font-family: Ubuntu;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  background: #379d47;
  margin-top: 8px;
  position: relative;
  z-index: 5;
}
.application.white-popup .row.button .send-form:hover {
  cursor: pointer;
  background: #109d2c;
}
.how-to-connect .page-title {
  text-align: center;
  color: #333333;
  font-size: 60px;
  margin-top: 0;
  padding-top: 60px;
  font-family: UbuntuBold;
  font-weight: normal;
  padding-bottom: 0;
  line-height: 60px;
}
.how-to-connect .sub-title {
  color: #999999;
  font-size: 24px;
  font-family: Ubuntu;
  text-align: center;
}
.how-to-connect .step-block {
  padding-top: 50px;
  max-width: 940px;
  margin: 0 auto;
}
.how-to-connect .step-block .step-item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}
.how-to-connect .step-block .step-item:nth-child(1) {
  left: -1500px;
}
.how-to-connect .step-block .step-item:nth-child(2) {
  right: -1500px;
}
.how-to-connect .step-block .step-item:nth-child(3) {
  left: -1500px;
}
.how-to-connect .step-block .step-item:nth-child(2) {
  margin-top: -13px;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.how-to-connect .step-block .step-item:nth-child(2) .image-wrap {
  position: relative;
  background: url(../img/step_circle.PNG) no-repeat 0px 70px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.how-to-connect .step-block .step-item:nth-child(2) .image-wrap img,
.how-to-connect .step-block .step-item:nth-child(2) .image-wrap svg {
  position: relative;
}
.how-to-connect .step-block .step-item:nth-child(2) .step-info-block {
  position: relative;
  top: 40px;
  left: 20px;
}
.how-to-connect .step-block .step-item:nth-child(2) .step-info-block .step-text {
  top: 30px;
  position: relative;
}
.how-to-connect .step-block .step-item:nth-child(3) .image-wrap {
  position: relative;
  background: url(../img/step_circle.PNG) no-repeat 0px 50px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.how-to-connect .step-block .step-item:nth-child(3) .image-wrap img,
.how-to-connect .step-block .step-item:nth-child(3) .image-wrap svg {
  position: relative;
  left: -50px;
  top: 5px;
}
.how-to-connect .step-block .step-item:nth-child(3) .step-info-block {
  position: relative;
  left: -20px;
  top: 10px;
}
.how-to-connect .step-block .step-item:nth-child(3) .step-info-block .step-text {
  position: relative;
}
.how-to-connect .step-block .step-item .image-wrap {
  position: relative;
  background: url(../img/step_circle.PNG) no-repeat 0px 40px;
}
.how-to-connect .step-block .step-item .image-wrap svg {
  position: relative;
}
.how-to-connect .step-block .step-item .step-info-block {
  position: relative;
}
.how-to-connect .step-block .step-item .step-info-block .number-of-step {
  position: absolute;
  background: url(../img/step_numb.PNG) no-repeat center 2px;
  width: 60px;
  height: 48px;
  font-family: Ubuntu;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  padding-top: 5px;
  top: -35px;
  left: -50px;
}
.how-to-connect .step-block .step-item .step-info-block .step-title {
  max-width: 400px;
  font-size: 36px;
  font-family: Ubuntu;
  color: #333333;
  padding-bottom: 20px;
}
.how-to-connect .step-block .step-item .step-info-block .step-text {
  font-size: 16px;
  font-family: Ubuntu;
  max-width: 320px;
  line-height: 24px;
  font-weight: normal;
  color: #666666;
}
.how-to-connect .free-3-days {
  margin: 120px 0 100px;
  padding-top: 40px;
  background: url(../img/steps_free_connect.png) no-repeat center 20px;
  padding-bottom: 160px;
}
.how-to-connect .free-3-days .title {
  margin: 0 auto;
  color: #333333;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  max-width: 500px;
  font-family: UbuntuBold;
}
.how-to-connect .free-3-days .row-to-connector {
  text-align: center;
  padding-top: 20px;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
.how-to-connect .free-3-days .row-to-connector .connect-item {
  color: #ffffff;
  font-family: Ubuntu;
  padding: 12px 45px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  background: #379d47;
  margin-top: 12px;
  position: relative;
  z-index: 5;
}
.how-to-connect .free-3-days .row-to-connector .connect-item:hover {
  cursor: pointer;
  background: #109d2c;
}
.how-to-connect .free-3-days .row-to-connector .connect-item:focus {
  outline: none;
}
.how-to-connect .free-3-days .row-to-connector .cc-right {
  position: absolute;
  right: 0;
  top: 52px;
  z-index: 1;
}
.how-to-connect .free-3-days .row-to-connector .cc-right .connector-right {
  background: url(../img/right_connector.PNG) no-repeat left top;
  display: inline-block;
  width: 75px;
  height: 18px;
  margin-left: -0.36em;
}
.how-to-connect .free-3-days .row-to-connector .cc-right .cable-right {
  content: "";
  background: #cccccc;
  top: -11px;
  margin-left: -0.36em;
  position: relative;
  display: inline-block;
  width: 1px;
  height: 1px;
  transition: 1s all;
}
.application-block {
  background: #379d47;
  padding-top: 10px;
  display: none;
  padding-bottom: 40px;
}
.application-block .wrap-1200 {
  background: #379d47;
  box-shadow: none;
}
.application-block .wrap-1200 .application {
  max-width: 460px;
  margin: 55px auto 0;
  padding: 30px 70px;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 15px 35px 0 rgba(0, 86, 0, 0.8);
  z-index: 5;
  background: url(../img/ind-back.PNG) no-repeat 30px 0px, #ffffff;
}
.application-block .wrap-1200 .application h3.title {
  font-family: UbuntuBold;
  font-size: 36px;
  padding-top: 10px;
  color: #333333;
  padding-bottom: 40px;
}
.application-block .wrap-1200 .application .row {
  padding-bottom: 30px;
  position: relative;
}
.application-block .wrap-1200 .application .row .row-name {
  display: block;
  font-family: Ubuntu;
  color: #333333;
  font-size: 20px;
  padding-bottom: 5px;
}
.application-block .wrap-1200 .application .row .popup-field {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 20px;
  font-weight: normal;
  font-family: Ubuntu;
}
.application-block .wrap-1200 .application .row .popup-field[data-field-name="address"] {
  padding-right: 71px;
}
.application-block .wrap-1200 .application .row .popup-field:focus,
.application-block .wrap-1200 .application .row .popup-field:hover {
  outline: none;
  border: 1px solid #379d47;
}
.application-block .wrap-1200 .application .row .map-button {
  position: absolute;
  right: 10px;
  text-align: right;
  font-size: 12px;
  text-decoration: underline;
  color: #39a651;
  top: 40px;
}
.application-block .wrap-1200 .application .row.button {
  text-align: right;
}
.application-block .wrap-1200 .application .row.button .send-form {
  color: #ffffff;
  font-family: Ubuntu;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  background: #379d47;
  margin-top: 8px;
  position: relative;
  z-index: 5;
}
.application-block .wrap-1200 .application .row.button .send-form:hover {
  cursor: pointer;
  background: #109d2c;
}
.tarifs-block-wrap h1.title {
  color: #333333;
  text-align: center;
  margin: 0 auto 0;
  padding-top: 35px;
  font-size: 60px;
  line-height: 72px;
  font-family: UbuntuBold;
  font-weight: normal;
  max-width: 800px;
  margin-bottom: 50px;
}
.tarifs-block-wrap .green-block {
  background: url(../img/big-arrow.png) no-repeat 100px 0px, url(../img/small-arrow.png) no-repeat 80px 0px, url(../img/big-arrow.png) no-repeat 900px 0px, url(../img/small-arrow.png) no-repeat 880px 0px, #40ae49;
  background-position: 100px 35px, 80px 0, 900px 0, 780px 54px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
}
.tarifs-block-wrap .green-block .sub-title {
  font-family: Ubuntu;
  font-size: 20px;
  color: #ffffff;
  max-width: 600px;
  margin: 0 auto;
  line-height: 30px;
}
.tarifs-block-wrap .plus-block {
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  margin: 0 auto;
  max-width: 1000px;
  box-sizing: border-box;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 40px 80px 20px 80px;
}
.tarifs-block-wrap .plus-block .plus-item {
  display: -ms-flexbox;
  display: flex;
}
.tarifs-block-wrap .plus-block .plus-item .img-wrap {
  padding-right: 20px;
}
.tarifs-block-wrap .plus-block .plus-item .text-wrap {
  max-width: 100px;
  padding-top: 25px;
}
.tarifs-block-wrap .plus-block .plus-item .text-wrap p {
  color: #666666;
  font-size: 16px;
  font-family: Ubuntu;
}
.business-connect-item {
  max-width: 980px;
  margin: 50px auto 0;
}
.business-connect-item .tarif-category-block {
  padding-bottom: 90px;
}
.business-connect-item .tarif-category-block:last-child {
  padding-bottom: 30px;
}
.business-connect-item .tarif-category-block .category-name {
  color: #333333;
  font-size: 48px;
  font-family: UbuntuBold;
  margin-bottom: 25px;
}
.business-connect-item .tarif-category-block .subtitle-block {
  max-width: 850px;
  margin-bottom: 0;
}
.business-connect-item .tarif-category-block .subtitle-block p {
  font-size: 24px;
  line-height: 38px;
  font-family: Ubuntu;
  color: #666666;
}
.business-connect-item .tarif-category-block .facts {
  padding-right: 60px;
  margin-bottom: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.business-connect-item .tarif-category-block .facts .tarif-fact {
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.business-connect-item .tarif-category-block .facts .tarif-fact .img-wrap {
  margin-right: 30px;
  margin-bottom: 20px;
}
.business-connect-item .tarif-category-block .facts .tarif-fact .text-wrap {
  padding-top: 35px;
}
.business-connect-item .tarif-category-block .facts .tarif-fact .text-wrap p {
  color: #666666;
  font-family: Ubuntu;
  line-height: 24px;
  max-width: 270px;
}
.business-connect-item .tarif-category-block .wrap-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks {
  max-width: 640px;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 {
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .block:first-child {
  margin-right: 20px;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block {
  min-width: 270px;
  min-height: 300px;
  box-sizing: border-box;
  border-radius: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block.t1 {
  background: url(../img/t1-s.png) no-repeat center calc(128%), #f2f2f2;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block.t1:hover {
  background: url(../img/t1-s-h.png) no-repeat center calc(128%), #00933d;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block.t2 {
  background: url(../img/t2-s.png) no-repeat center calc(128%), #f2f2f2;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block.t2:hover {
  background: url(../img/t2-s-h.png) no-repeat center calc(128%), #00933d;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block.t3 {
  background: url(../img/t3-s.png) no-repeat center calc(128%), #f2f2f2;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block.t3:hover {
  background: url(../img/t3-s-h.png) no-repeat center calc(128%), #00933d;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block.t4 {
  background: url(../img/t4-s.png) no-repeat center calc(128%), #f2f2f2;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block.t4:hover {
  background: url(../img/t4-s-h.png) no-repeat center calc(128%), #00933d;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block:hover {
  cursor: pointer;
  z-index: 0;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block:hover p.tarif-name {
  color: #ffffff;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block:hover .connect {
  display: block;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block:hover .connect:hover {
  background: linear-gradient(to bottom, #ffe554, #ffcc01 100%);
  cursor: pointer;
  box-shadow: 0px 5px 15px 0 rgba(0, 102, 0, 0.5);
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block p.tarif-name {
  font-family: UbuntuBold;
  font-size: 64px;
  padding-left: 20px;
  padding-top: 5px;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block p.tarif-name[data-mb="75"] {
  font-size: 72px;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .block-2 .hover-block p.tarif-name span.text {
  font-size: 24px;
  position: relative;
  top: 32px;
  left: -30px;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .big-block .hover-block {
  min-height: 250px;
  min-width: 250px;
  box-sizing: border-box;
  border-radius: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .big-block .hover-block.t1 {
  background: url(../img/t1.png) no-repeat bottom right, #f2f2f2;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .big-block .hover-block.t1:hover {
  background: url(../img/t1-h.png) no-repeat bottom right, #00933d;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .big-block .hover-block.t2 {
  background: url(../img/t2.png) no-repeat bottom right, #f2f2f2;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .big-block .hover-block.t2:hover {
  background: url(../img/t2-h.png) no-repeat bottom right, #00933d;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .big-block .hover-block:hover {
  cursor: pointer;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .big-block .hover-block:hover p.tarif-name {
  color: #ffffff;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .big-block .hover-block:hover .connect {
  display: block;
  margin: 0 0 25px 25px;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .big-block .hover-block:hover .connect:hover {
  background: linear-gradient(to bottom, #ffe554, #ffcc01 100%);
  cursor: pointer;
  box-shadow: 0px 5px 15px 0 rgba(0, 102, 0, 0.5);
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .big-block .hover-block p.tarif-name {
  font-family: UbuntuBold;
  font-size: 64px;
  padding-left: 20px;
  padding-top: 5px;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .big-block .hover-block p.tarif-name[data-mb="100"] {
  font-size: 96px;
}
.business-connect-item .tarif-category-block .wrap-row .wrap-blocks .big-block .hover-block p.tarif-name span.text {
  font-size: 24px;
  position: relative;
  top: 32px;
  left: -30px;
}
.business-connect-item .tarif-category-block .wrap-row .right-block-wrap {
  max-width: 270px;
  margin-right: 90px;
}
.business-connect-item .tarif-category-block .wrap-row .right-block-wrap .have-a-question {
  background: #f3f3d7;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 30px 25px;
}
.business-connect-item .tarif-category-block .wrap-row .right-block-wrap .have-a-question .img-wrap {
  position: relative;
  height: 145px;
}
.business-connect-item .tarif-category-block .wrap-row .right-block-wrap .have-a-question .img-wrap img {
  position: absolute;
  top: -25px;
  left: -5px;
}
.business-connect-item .tarif-category-block .wrap-row .right-block-wrap .have-a-question h4.mini-title {
  font-size: 18px;
  font-family: UbuntuBold;
  color: #333333;
  font-weight: normal;
  padding-bottom: 5px;
}
.business-connect-item .tarif-category-block .wrap-row .right-block-wrap .have-a-question .consult-text {
  color: #666666;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 8px;
}
.business-connect-item .tarif-category-block .wrap-row .right-block-wrap .have-a-question .ask-a-question {
  color: #ffffff;
  font-family: Ubuntu;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  background: #379d47;
  margin-top: 12px;
  position: relative;
  z-index: 5;
}
.business-connect-item .tarif-category-block .wrap-row .right-block-wrap .have-a-question .ask-a-question:hover {
  cursor: pointer;
  background: #109d2c;
}
.business-connect-item .tarif-category-block .wrap-row .right-block-wrap .have-a-question .ask-a-question:focus {
  outline: none;
}
p.button-row button.connect {
  color: #333333;
  background: linear-gradient(to bottom, #ffe554, #ffcc01 100%);
  display: none;
  border: none;
  padding: 10px 20px;
  margin: 0 auto 25px;
  font-size: 16px;
  font-family: Ubuntu;
  border-radius: 18px;
}
p.button-row button.connect:hover {
  background: linear-gradient(to bottom, #ffe554, #ffcc01 100%);
  cursor: pointer;
  color: #111111;
  box-shadow: 0px 5px 15px 0 rgba(0, 102, 0, 0.5);
}
.free-connect .connect-title {
  font-size: 36px;
  text-align: center;
  font-family: UbuntuBold;
  color: #333333;
  max-width: 500px;
  margin: 0 auto;
  line-height: 40px;
}
.free-connect .connect-row {
  margin: 40px auto 80px;
  max-width: 270px;
  text-align: center;
}
.free-connect .connect-row .connect-item {
  color: #ffffff;
  font-family: Ubuntu;
  padding: 13px 20px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  background: #379d47;
  margin-top: 12px;
  position: relative;
  z-index: 5;
}
.free-connect .connect-row .connect-item:hover {
  cursor: pointer;
  background: #109d2c;
}
.free-connect .connect-row .connect-item:focus {
  outline: none;
}
.free-3-days {
  margin: 60px 0 100px;
  padding-top: 40px;
  background: url(../img/steps_free_connect.png) no-repeat center 20px;
  padding-bottom: 160px;
}
.free-3-days .title {
  margin: 0 auto;
  color: #333333;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  max-width: 500px;
  font-family: UbuntuBold;
}
.free-3-days .row-to-connector {
  text-align: center;
  padding-top: 20px;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
.free-3-days .row-to-connector .connect-item {
  color: #ffffff;
  font-family: Ubuntu;
  padding: 12px 45px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  background: #379d47;
  margin-top: 12px;
  position: relative;
  z-index: 5;
}
.free-3-days .row-to-connector .connect-item:hover {
  cursor: pointer;
  background: #109d2c;
}
.free-3-days .row-to-connector .connect-item:focus {
  outline: none;
}
.free-3-days .row-to-connector .cc-right {
  position: absolute;
  right: 0;
  top: 52px;
  z-index: 1;
}
.free-3-days .row-to-connector .cc-right .connector-right {
  background: url(../img/right_connector.PNG) no-repeat left top;
  display: inline-block;
  width: 75px;
  height: 18px;
  margin-left: -0.36em;
}
.free-3-days .row-to-connector .cc-right .cable-right {
  content: "";
  background: #cccccc;
  top: -11px;
  margin-left: -0.36em;
  position: relative;
  display: inline-block;
  width: 1px;
  height: 1px;
  transition: 1s all;
}
.about-company {
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 100px;
}
.about-company .title {
  margin-top: 0;
  padding-top: 60px;
  font-size: 60px;
  font-family: UbuntuBold;
  font-weight: normal;
  margin-bottom: 20px;
  color: #333333;
}
.about-company .column-wrap {
  padding-bottom: 100px;
  display: -ms-flexbox;
  display: flex;
}
.about-company .column-wrap .base-content-wrap .img-wrap {
  padding-bottom: 50px;
}
.about-company .column-wrap .base-content-wrap .text-block {
  font-size: 16px;
  font-family: Ubuntu;
  max-width: 500px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 60px;
}
.about-company .column-wrap .base-content-wrap .text-block p {
  margin-bottom: 5px;
}
.about-company .column-wrap .base-content-wrap .big-link {
  font-size: 24px;
  font-family: UbuntuBold;
  background: linear-gradient(to left, #c3e4ca, #c3e4ca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border', endColorstr='@border', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #39a651;
}
.about-company .column-wrap .base-content-wrap .big-link:hover {
  cursor: pointer;
  background: linear-gradient(to left, #006939, #006939 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #006939;
}
.about-company .column-wrap .base-content-wrap .big-link:focus {
  background: linear-gradient(to left, #006939, #006939 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #006939;
}
.about-company .column-wrap .right-block-wrap {
  margin-left: 60px;
}
.about-company .column-wrap .right-block-wrap .right-block .img-right-wrap {
  margin-bottom: 30px;
}
.about-company .column-wrap .right-block-wrap .right-block .right-text-block {
  margin-top: 50px;
  font-size: 16px;
  color: #666666;
  max-width: 240px;
  font-family: Ubuntu;
  line-height: 24px;
}
.about-company .column-wrap .right-block-wrap .consult-block {
  margin-top: 40px;
}
.about-company .column-wrap .right-block-wrap .consult-block .img-wrap {
  margin-bottom: 30px;
}
.about-company .column-wrap .right-block-wrap .consult-block .text-block {
  font-size: 16px;
  color: #666666;
  font-family: Ubuntu;
  line-height: 24px;
  max-width: 240px;
}
.about-company .column-wrap .right-block-wrap .consult-block .text-block .link {
  background: linear-gradient(to left, #c3e4ca, #c3e4ca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border', endColorstr='@border', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #39a651;
}
.about-company .column-wrap .right-block-wrap .consult-block .text-block .link:hover {
  cursor: pointer;
  background: linear-gradient(to left, #006939, #006939 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #006939;
}
.about-company .column-wrap .right-block-wrap .consult-block .text-block .link:focus {
  background: linear-gradient(to left, #006939, #006939 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #006939;
}
footer.footer {
  background: #333333;
  padding: 15px 30px 0px;
}
footer.footer .wrap-1200.foot-flex {
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0 40px;
  background: url(../img/footer.PNG) no-repeat 0px bottom, #333333;
}
footer.footer .wrap-1200.foot-flex .row-1-2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
footer.footer .wrap-1200.foot-flex .row-1-2:last-child {
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding-top: 50px;
}
footer.footer .wrap-1200.foot-flex .row-1-2:last-child .col-1-2:first-child {
  margin-right: 220px;
  position: relative;
}
footer.footer .wrap-1200.foot-flex .row-1-2:last-child .col-1-2:first-child:after {
  content: ' ';
  display: inline-block;
  background: url(../img/mail.png) no-repeat;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: -50px;
}
footer.footer .wrap-1200.foot-flex .row-1-2:last-child .col-1-2 p.row-text {
  color: #ffffff;
  font-family: Ubuntu;
  line-height: 24px;
}
footer.footer .wrap-1200.foot-flex .row-1-2:last-child .col-1-2 p.row-text a {
  background: linear-gradient(to left, #406641, #406641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border', endColorstr='@border', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #379d47;
}
footer.footer .wrap-1200.foot-flex .row-1-2:last-child .col-1-2 p.row-text a:hover {
  cursor: pointer;
  background: linear-gradient(to left, #cccccc, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #cccccc;
}
footer.footer .wrap-1200.foot-flex .row-1-2:last-child .col-1-2 p.row-text a:focus {
  background: linear-gradient(to left, #cccccc, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #cccccc;
}
footer.footer .wrap-1200.foot-flex .row-1-2:first-child .col-1-3 p.row-text {
  color: #ffffff;
  font-family: Ubuntu;
  line-height: 24px;
}
footer.footer .wrap-1200.foot-flex .row-1-2:first-child .col-1-3 p.row-text a {
  background: linear-gradient(to left, #406641, #406641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border', endColorstr='@border', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #379d47;
}
footer.footer .wrap-1200.foot-flex .row-1-2:first-child .col-1-3 p.row-text a:hover {
  cursor: pointer;
  background: linear-gradient(to left, #cccccc, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #cccccc;
}
footer.footer .wrap-1200.foot-flex .row-1-2:first-child .col-1-3 p.row-text a:focus {
  background: linear-gradient(to left, #cccccc, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #cccccc;
}
footer.footer .wrap-1200.foot-flex .row-1-2:first-child .col-1-3:last-child p.row-text {
  position: relative;
  font-size: 43px;
}
footer.footer .wrap-1200.foot-flex .row-1-2:first-child .col-1-3:last-child p.row-text:before {
  content: ' ';
  display: inline-block;
  background: url(../img/phone.PNG) no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -25px;
  left: -30px;
}
footer.footer .wrap-1200.foot-flex .row-1-2:first-child .col-1-3:last-child p.row-text a {
  background: linear-gradient(to left, #406641, #406641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border', endColorstr='@border', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #379d47;
}
footer.footer .wrap-1200.foot-flex .row-1-2:first-child .col-1-3:last-child p.row-text a:hover {
  cursor: pointer;
  background: linear-gradient(to left, #cccccc, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #cccccc;
}
footer.footer .wrap-1200.foot-flex .row-1-2:first-child .col-1-3:last-child p.row-text a:focus {
  background: linear-gradient(to left, #cccccc, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #cccccc;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  header.page-head.index-page nav.main-menu {
    top: 144px;
  }
  header.page-head nav.main-menu {
    top: 144px;
  }
}
header.page-head {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 100;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-left: 0;
  padding-left: 61px;
  padding-bottom: 0;
  background: #FFFFFF;
}
header.page-head.index-page {
  margin-left: 61px;
  padding-left: 0;
  background: transparent;
}
header.page-head .info-row {
  display: -ms-flexbox;
  display: flex;
  padding: 40px 90px 55px 60px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  background: #ffffff;
  z-index: 0;
}
header.page-head .info-row .logo img:last-child {
  display: none;
}
header.page-head .info-row .inf-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
header.page-head .info-row .inf-block .phone {
  position: relative;
  font-family: Ubuntu;
  font-size: 16px;
  padding-top: 13px;
  margin-right: 45px;
  color: #333333;
}
header.page-head .info-row .inf-block .phone p:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  left: -24px;
  top: 5px;
  height: 20px;
  background: url(../img/head-phone.png) no-repeat;
}
header.page-head .info-row .inf-block .consult label .icon {
  display: inline-block;
  width: 50px;
  height: 44px;
  background: url(../img/cons-icon.png);
  position: relative;
  top: 10px;
}
header.page-head .info-row .inf-block .consult label .link {
  position: relative;
  font-family: Ubuntu;
  top: -4px;
  background: linear-gradient(to left, #c3e4ca, #c3e4ca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border', endColorstr='@border', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #39a651;
}
header.page-head .info-row .inf-block .consult label .link:hover {
  cursor: pointer;
  background: linear-gradient(to left, #006939, #006939 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #006939;
}
header.page-head .info-row .inf-block .consult label .link:focus {
  background: linear-gradient(to left, #006939, #006939 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #006939;
}
header.page-head .info-row .connect-item {
  display: inline-block;
  width: 210px;
  position: relative;
  top: -12px;
  left: -10px;
}
header.page-head .info-row .connect-item .connect {
  position: absolute;
  background: url(../img/h-modem.PNG) no-repeat 0px 7px;
  height: 196px;
  left: -35px;
  width: 320px;
  z-index: 2;
}
header.page-head .info-row .connect-item .connect .link {
  background: linear-gradient(to left, #c3e4ca, #c3e4ca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border', endColorstr='@border', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #39a651;
  margin-top: 38px;
  margin-left: 18px;
  position: relative;
  left: 35px;
  top: -1px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-family: UbuntuBold;
}
header.page-head .info-row .connect-item .connect .link:hover {
  cursor: pointer;
  background: linear-gradient(to left, #006939, #006939 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #006939;
}
header.page-head .info-row .connect-item .connect .link:focus {
  background: linear-gradient(to left, #006939, #006939 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #006939;
}
header.page-head nav.main-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 1139px;
  position: static;
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 60px;
  left: -29px;
}
header.page-head nav.main-menu ul.menu {
  display: -ms-flexbox;
  display: flex;
}
header.page-head nav.main-menu ul.menu li.menu-item {
  padding: 0 25px;
}
header.page-head nav.main-menu ul.menu li.menu-item.active .menu-link {
  background: none;
  color: #333333;
}
header.page-head nav.main-menu ul.menu li.menu-item.active .menu-link:hover {
  background: none;
  color: #333333;
  cursor: default;
}
header.page-head nav.main-menu ul.menu li.menu-item .menu-link {
  font-family: UbuntuBold;
  text-transform: uppercase;
  font-size: 20px;
  background: linear-gradient(to left, #c3e4ca, #c3e4ca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border', endColorstr='@border', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #39a651;
}
header.page-head nav.main-menu ul.menu li.menu-item .menu-link:hover {
  cursor: pointer;
  background: linear-gradient(to left, #006939, #006939 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #006939;
}
header.page-head nav.main-menu ul.menu li.menu-item .menu-link:focus {
  background: linear-gradient(to left, #006939, #006939 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@border_h', endColorstr='@border_h', GradientType=0);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  color: #006939;
}
header.page-head .mobile-menu {
  display: none;
}
