@media screen and (max-width: 1200px) {
  .col-1-2--last ul.comment-list {
    align-items: center;
  }

  .col-1-2--last {
    padding-top: 30px;
  }

  .unlimite-int {
    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      li.plus-item {
        display: block;
        position: static;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 0;

        p.plus-text {
          padding-left: 0;
          position: static !important;
          .wrap{
            text-align: center;
            img{

            }
          }
        }

      }
    }
  }

  .comments-block .grid-comment {
    justify-content: space-around;
    align-items: center;
    .comment-item {
      left: 0 !important;
    }
    .terabite {
      left: 0 !important;
    }
  }

  .individual-tarif {
    .wrap-1200 {
      background: none;
      padding-bottom: 0;
      .icon {
        display: none;
      }
    }
  }

  .dont-speed-down {
    .speed-block {
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
      h2.title {
        padding: 0;
        text-align: center;
      }
      p.sub-title {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
      }
    }
  }
  .comments-block .title {
    padding-top:40px;
  }
}

@media screen and (max-width: 1100px) {
  .tarifs {
    .grid {
      flex-direction: column;
      align-items: center;
      .col-1-2 {
        padding-bottom: 30px;
      }
    }
  }
}
@media screen and (max-width: 1200px) and (min-width: 768px){
  .unlimite-int {
    .list {
      li.plus-item {
        &.modem{}
        &.wifi{ .wrap{ top: 40px}}
        &.media{ .wrap{ top: 28px}}
      }
    }
  }
  .comments-block .grid-comment {
    flex-direction: column;
    align-items: center;
    .comment-item {
      left: 0 !important;
    }
    .terabite {
      left: 0 !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .comments-block .grid-comment {
    flex-direction: column;
    align-items: center;
    .comment-item {
      left: 0 !important;
    }
    .terabite {
      left: 0 !important;
    }
  }
}
@media screen and (max-width: 600px) {
  .unlimite-int {
    padding-bottom: 60px;
    h1.title {
      line-height: 1.2em;
      font-size: 32px;
      padding: 60px 0 0 0;
    }
    p.sub-title {
      padding-left: 0;
      margin-top: 20px;
      font-size: 18px;
      line-height: 1.5em;
      padding-bottom: 40px;
    }
    .list {
      width: 100%;
      li.plus-item {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        &.modem {
          .wrap {
            left: -40px;
            .absolute.item-1{
              left: 0;
            }
          }
        }
        &.media{
          .wrap {
            left: 0px;
            .absolute{
              &.item-1 {  left: 0;  }
              &.item-2 {  left: 0;  }
            }
          }
        }
        .wrap {
          position: relative;
          text-align: center;
          .wifi-1 {
          }
        }
        width: 100%;
        p.plus-text {
          padding-left: 0 !important;
          text-align: center;
          max-width: 200px;
          width: 100%;
        }
      }
    }
  }


  .tarifs {
    h2.title-gray{
      font-size: 32px;
      padding: 60px 0 0;
    }
    p.sub-title-gray {
      font-size: 18px;
    }
    .grid {
      padding: 20px;
      .col-1-2 {
        width: 100%;
        .col-title {
        }
        .block-2 {
          flex-direction: column;
          .block:first-child {
            margin-right: 0;
            margin-bottom: 20px;
          }
          .hover-block {
            min-height: 250px;
            min-width: 250px;
            &.t1 {
              background: url(../img/t1-s.png) no-repeat 95% 65px, #f2f2f2;
              &:hover {
                background: url(../img/t1-s-h.png) no-repeat 95% 65px, #00933d;
              }
            }
            &.t2 {
              background: url(../img/t2-s.png) no-repeat 95% 65px, #f2f2f2;
              &:hover {
                background: url(../img/t2-s-h.png) no-repeat 95% 65px, #00933d;
              }
            }
            &.t3 {
              background: url(../img/t3-s.png) no-repeat 95% 65px, #f2f2f2;
              &:hover {
                background: url(../img/t3-s-h.png) no-repeat 95% 65px, #00933d;
              }
            }
            &.t4 {
              background: url(../img/t4-s.png) no-repeat 95% 65px, #f2f2f2;
              &:hover {
                background: url(../img/t4-s-h.png) no-repeat 95% 65px, #00933d;
              }
            }
            &:hover {
              transition: all 1s;
              background: #39a651;
              cursor: pointer;
              z-index: 0;
              p.tarif-name {
                color: #ffffff;
              }
              .connect {
                background: linear-gradient(to bottom, #ffe554, #ffcc01 100%);
                cursor: pointer;
                margin: 0 0 25px 25px;
                &:hover{
                  box-shadow: 0px 5px 15px 0 rgba(0, 102, 0, 0.5);
                }
              }
            }
            p.tarif-name {
              font-family: UbuntuBold;
              font-size: 60px;
              padding-left: 20px;
              padding-top: 5px;

              span.text {
                font-size: 24px;
                position: absolute;
                top: 72px;
                left: 20px;
              }

            }
          }
        }
        .big-block {
          .hover-block {
            p.tarif-name {
              &[data-mb="100"] {
                span.text {
                  font-size: 28px;
                  display: block;
                  position: absolute;
                  top: 72px;
                  left: 25px;
                  max-width: 150px;
                }
              }
            }
          }
        }

      }
    }
  }


  .dont-speed-down {
    .speed-block {
      padding-top: 30px;
      padding-bottom: 30px;
      .col-1-2 {
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          .title{

          }
          .sub-title{
            padding-top: 20px;
            padding-bottom: 30px;
          }
          margin-left: 0;
          padding: 0 10px;
        }
      }
    }
  }

  .individual-tarif {
    .wrap-1200 {
      h2.title{
        font-size: 32px;
        padding: 60px 0 0 0;
      }
      p.sub-title{
        padding: 40px 30px 0;
      }
      .application {

        .row .map-button {
          top: 60px
        }
        h3.title {
          font-size: 32px;
        }
        padding: 30px 20px;
        background: url(../img/ind-back.PNG) no-repeat -2px 19px, #ffffff;

        .cc {
          left: 24px;
          .connector {
            width: 54px;
            background: url(../img/connector.PNG) no-repeat right top;
          }
        }
      }
    }
  }
  .comments-block .title {
    padding-top: 60px;
    font-size: 32px;
  }
  .col-1-2--last, .col-1-2--first {
    ul.comment-list {
      align-items: center;
      li.comment-item {
        .about-commentator {
          .commentator {
            p.name {
              font-size: 20px;
            }
            p.prof {
              font-size: 12px;
            }
          }
        }
        span.comment-speed {
          display: none !important;
        }
      }
      li.terabite {
        max-width: 320px;
        min-width: 320px;
        padding-right: 0;
        padding-left: 0;
        left: 0;
        width: 100%;
        p.sub-text {
        }
      }
    }
  }
}
@media screen and (max-width: 600px ) and (min-width: 321px) {

  .unlimite-int{
    h1.title{
      padding: 50px 10px 0;
    }
  }
  .tarifs{
    p.sub-title-gray{
      padding: 10px 10px 0;
    }
  }
  .individual-tarif {
    .wrap-1200 {
      .application {

        .row {
          .map-button {
            top: 30px;
          }
        }
        .cc {
          display: none;
          left: 34px;
          top: 15px;
          .connector {

          }
        }
      }
    }
  }
  .comments-block {
    background: @dark-green;
    padding-bottom: 100px;
    padding-top: 320px;
  }
  li.comment-item {
    max-width: 280px;
    position: relative;
    .about-commentator {
      display: flex;
      vertical-align: top;
      .image {
        padding-right: 10px;
        padding-left: 25px;
        padding-top: 7px;
      }

      .commentator {
        padding-top: 25px;
        max-width: 300px;
        padding-bottom: 30px;
        p.name {
          position: static;
          width: 140px;
          font-size: 18px;
          font-family: @UbuntuBold;
          color: #333333;
        }
        p.prof {
          font-family: @Ubuntu;
          color: #999999;
          padding-top: 0;
          font-size: 14px;
          position: absolute;
          width: 130px;
          line-height: 22px;
        }
      }
    }
    .comment {
      font-family: @Ubuntu;
      font-size: 14px;
      padding: 30px;
      background: #f3f3d7;
      border-radius: 20px;
      max-width: 320px;
      box-sizing: border-box;
      top: -30px;
      position: relative;
      &:before {
        content: "";
        display: block;
        background: url(../img/comment-icon.PNG) no-repeat;
        width: 32px;
        height: 24px;
        position: absolute;
        top: -23px;
        left: 77px;
      }
      p {
        color: #333333;
        font-size: 14px;
        line-height: 1.5em;
        padding-bottom: 10px;
        font-family: @Ubuntu;
        &:last-child {
          padding-bottom: 0;
        }
      }
      strong{
        font-family: @UbuntuBold;
        color: #333333;
        font-size: 14px;
        line-height: 1.5em;
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .application.white-popup {
    max-width: 460px;
    margin: 55px auto 0;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
    z-index: 5;
    background: #ffffff;
  }
}